--
-- Create model Permission
--
CREATE TABLE `users_permission` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `nom` varchar(100) NOT NULL, `description` longtext NULL, `created_at` datetime(6) NOT NULL);
--
-- Create model Role
--
CREATE TABLE `users_role` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `nom` varchar(100) NOT NULL, `description` longtext NULL, `created_at` datetime(6) NOT NULL);
--
-- Create model User
--
CREATE TABLE `users_user` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `password` varchar(128) NOT NULL, `last_login` datetime(6) NULL, `is_superuser` bool NOT NULL, `email` varchar(191) NOT NULL UNIQUE, `nom` varchar(100) NOT NULL, `prenom` varchar(100) NOT NULL, `role` varchar(20) NOT NULL, `actif` bool NOT NULL, `is_staff` bool NOT NULL, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL);
CREATE TABLE `users_user_groups` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `user_id` bigint NOT NULL, `group_id` integer NOT NULL);
CREATE TABLE `users_user_user_permissions` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `user_id` bigint NOT NULL, `permission_id` integer NOT NULL);
--
-- Create model RolePermission
--
CREATE TABLE `users_rolepermission` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `permission_id` bigint NOT NULL, `role_id` bigint NOT NULL);
--
-- Create model Service
--
CREATE TABLE `service` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `nom` varchar(100) NOT NULL, `description` longtext NULL, `created_at` datetime(6) NOT NULL, `chef_id` bigint NULL);
--
-- Add field service to user
--
ALTER TABLE `users_user` ADD COLUMN `service_id` bigint NULL , ADD CONSTRAINT `users_user_service_id_d8c2b743_fk_service_id` FOREIGN KEY (`service_id`) REFERENCES `service`(`id`);
ALTER TABLE `users_user_groups` ADD CONSTRAINT `users_user_groups_user_id_group_id_b88eab82_uniq` UNIQUE (`user_id`, `group_id`);
ALTER TABLE `users_user_groups` ADD CONSTRAINT `users_user_groups_user_id_5f6f5a90_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`);
ALTER TABLE `users_user_groups` ADD CONSTRAINT `users_user_groups_group_id_9afc8d0e_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`);
CREATE INDEX `users_user_groups_user_id_5f6f5a90` ON `users_user_groups` (`user_id`);
CREATE INDEX `users_user_groups_group_id_9afc8d0e` ON `users_user_groups` (`group_id`);
ALTER TABLE `users_user_user_permissions` ADD CONSTRAINT `users_user_user_permissions_user_id_permission_id_43338c45_uniq` UNIQUE (`user_id`, `permission_id`);
ALTER TABLE `users_user_user_permissions` ADD CONSTRAINT `users_user_user_permissions_user_id_20aca447_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`);
ALTER TABLE `users_user_user_permissions` ADD CONSTRAINT `users_user_user_perm_permission_id_0b93982e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`);
CREATE INDEX `users_user_user_permissions_user_id_20aca447` ON `users_user_user_permissions` (`user_id`);
CREATE INDEX `users_user_user_permissions_permission_id_0b93982e` ON `users_user_user_permissions` (`permission_id`);
ALTER TABLE `users_rolepermission` ADD CONSTRAINT `users_rolepermission_permission_id_9ec7615d_fk_users_per` FOREIGN KEY (`permission_id`) REFERENCES `users_permission` (`id`);
ALTER TABLE `users_rolepermission` ADD CONSTRAINT `users_rolepermission_role_id_d36df18a_fk_users_role_id` FOREIGN KEY (`role_id`) REFERENCES `users_role` (`id`);
CREATE INDEX `users_rolepermission_permission_id_9ec7615d` ON `users_rolepermission` (`permission_id`);
CREATE INDEX `users_rolepermission_role_id_d36df18a` ON `users_rolepermission` (`role_id`);
ALTER TABLE `service` ADD CONSTRAINT `service_chef_id_e0905812_fk_users_user_id` FOREIGN KEY (`chef_id`) REFERENCES `users_user` (`id`);
CREATE INDEX `service_chef_id_e0905812` ON `service` (`chef_id`);
CREATE INDEX `users_user_service_id_d8c2b743` ON `users_user` (`service_id`);
